/*ページ全体の背景色*/
#black {
  overflow: hidden;
  margin: 0%;
  position: absolute;
  height: 99.1%; width: 99.6%;
  background-color: rgb(19, 1, 16);
}
/*起動時のスタート*/
#overlay {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  background: #0009;
  display: flex; align-items: center; justify-content: center;
  z-index: 100;
}
h1{
  color: rgb(15, 93, 66);
}
#overlay .play:hover{
  background-color: rgb(70, 255, 130);
}
#overlay .play {
  font-family: 'DotGothic16', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25vh;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  font-size: larger;
  background-color: rgb(31, 124, 60);
  border-style: none;
}

#image{
  width: 30%; height: auto; right: 35%; bottom: 35%; 
  z-index: 4; position: absolute;
  animation-timing-function: ease-in-out; animation-iteration-count: infinite;
  animation-direction: normal; animation-name: anim_s;
  animation-duration: 0s;
}
  @keyframes anim_s {
    0% {transform: translate(200px, 0) scale(1,1);}
    49%{transform: translate(-200px, 0) scale(1,1);}
    50%{transform: translate(-200px, 0) scale(-1,1);
    }
    99%{transform: translate(200px, 0) scale(-1,1);}
    100% {transform: translate(200px, 0) scale(1,1);}
  }
  #speaker{
    width: 30%; height: auto; right: 35%; 
    bottom: 40%; position: absolute;
    animation-timing-function: ease-in-out; animation-iteration-count: infinite;
    animation-direction: normal; animation-name:anim_d;
    animation-duration: 0s; z-index: 3;
  }
  @keyframes anim_d {
    0% {transform: translate(200px, 50px);}
    12%{transform: translate(100px, 0px);}
    25%{transform: translate(0px, 50px);}
    37%{transform: translate(-100px, 0px);}
    49%{transform: translate(-200px, 50px);}
    50%{transform: translate(-200px, 50px);}
    62%{transform: translate(-100px, 0px);}
    75%{transform: translate(0px, 50px);}
    87%{transform: translate(100px, 0px);}
    100% {transform: translate(200px, 50px);}
  }
/* マウスストーカー*/
#stkr{
  position: fixed; top: 70%; left:50%; width: 40px; height: 600px;
  transition: 0s;
  transition-timing-function: ease-out;
  z-index: 80;
  cursor: none;
}
#stkrframe{
  position: absolute;
  animation: ease-in-out infinite rotation;
  height: 100%; width: 100%;
  animation-duration: 0s;
}
/*ペンライト用アニメーション*/
@keyframes rotation{
  0%{ transform:rotate(10deg); }
  50%{ transform:rotate(35deg); }
  100%{ transform:rotate(10deg); }
}
#light{
  z-index: 3;
  position: absolute;top: 0px; left: 5px; width: 30px; height: 150px; margin-left: -45px;
  background-color: rgb(70, 255, 130);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.1px;
}
#cross{
  z-index: 2;
  position: absolute; top:140px; left:1px; width: 38px; height: 25px; margin-left: -45px;
  background-color: azure;
  border-radius: 10px;
}
#grip {
  z-index: 1;
  position: absolute; top: 155px; left: 6px; width: 28px; height: 60px; margin-left: -45px;
  background-color: azure;
  border-radius: 10px;
}
#stageContainer{
  position: absolute; top: 50%; left: 50%; margin-left: -35%; height: 25%; width: 70%;
  z-index: 2;
  overflow: hidden;
}
#stage{
  position:absolute; bottom:15%; left:50%; margin-left: -50%; height: 85%; width:100%;
  box-sizing: border-box; border-bottom: 150px solid #ccc;
  border-left: 100px solid transparent; border-right: 100px solid transparent;
}
#stageUnder{
  position: absolute; bottom: 0%; left:50%; margin-left: -50%; height: 15%; width: 100%;
  background-color:slategrey;
}
#field{
  position: absolute; top: 50%; left: 0%; height: 50%; width: 100%;
  overflow: hidden;
}
#monitor{
  position: absolute; top: 15%; left: 50%; margin-left: -13%;
  height: 25%; width: 26%;
  background-color:rgb(64, 65, 81);
  display: flex;
  border-style: solid;
  border-color: rgb(143, 186, 255);
  border-width: 3px;
  overflow: hidden;
}
#media {
  position: absolute; height: auto; width: auto;
  top: 50%; margin-top: -89px; left: 50%; margin-left: -128px;
  background: rgb(152, 254, 213);
}
.ClassLilics{
  writing-mode: vertical-rl; text-align: center;
  font-size: 5vh;
  font-weight: 200; letter-spacing: 0.4ex;
  font-family: 'DotGothic16', sans-serif;
  height: 60%; cursor: none;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}
#cssLiricsLeft{
  position: absolute; top: 3%; left: 1%;
  color: azure; z-index: 90;
}
#cssLiricsRight{
  position: absolute; top: 3%; right: 1%;
  color: azure; z-index: 90;
}
#Config{
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 60px;
  width: 265px;
  background-color: darkgray;
  font-size: 10px;
  z-index: 90;
}
#control {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 2px;
  width: auto;
}
#control > button{
  width: 30%;
}
#meta {
  text-align: center;
  padding: 2px;
  width: auto;
}
.miniLight{
  position: absolute; top: 0%; left:0%; width: 3.5vh; height: 13vh;
  background-color: rgb(70, 255, 130);
  border-radius: 10vh;
}
.miniLightframe{
  z-index: 3; position: absolute; width: 25px; height: 350px;
  animation-name: minilightRotate; animation-duration: 3s;
  animation-iteration-count: infinite; animation-timing-function: ease-in-out;
}
@keyframes minilightRotate{
  0%{ transform: rotate(15deg);}
  50%{ transform: rotate(40deg);}
  100%{ transform: rotate(15deg);}
}
#miniLight1{ top: 20%; left: 5%; transform: rotate(40deg);}
#miniLight2{ top: 35%; left: 20%; transform: rotate(40deg);}
#miniLight3{ top: 30%; left: 35%;  transform: rotate(40deg);}
#miniLight4{ top: 35%; left: 50%; transform: rotate(40deg);}
#miniLight5{ top: 30%; left: 65%; transform: rotate(40deg);}
#miniLight6{ top: 35%; left: 80%; transform: rotate(40deg);}
#miniLight7{ top: 25%; left: 94%; transform: rotate(40deg);}
#miniLight8{ top: 55%; left: 7%; transform: rotate(40deg);}
#miniLight9{ top: 60%; left: 25%; transform: rotate(40deg);}
#miniLight10{ top: 50%; left: 40%; transform: rotate(40deg);}
#miniLight11{ top: 65%; left: 55%; transform: rotate(40deg);}
#miniLight12{ top: 50%; left: 70%; transform: rotate(40deg);}
#miniLight13{ top: 60%; left: 85%; transform: rotate(40deg);}
#miniLight14{ top: 75%; left: 15%; transform: rotate(40deg);}
#sparkingArea{
  position: absolute;
  top: 0%; left: 0%; height: 65%; width: 100%;
  z-index: 20; overflow: hidden;
}
.sparking{
  position: absolute; top: 0%; margin-top: -150vh; margin-left: -3vw;
  height: 300vh; width: 6vw;
  animation-iteration-count: infinite; animation-timing-function: ease-in-out; cursor: none;
}
.sparkingPositionCenter{ left: 50%;}
.sparkingPositionLeft{ left: 15%;}
.sparkingPositionRight{ right: 15%;}
#sparkingWhite{
  position: absolute; top: 0%; left: 50%; margin-top: -5%; margin-left: -15%; height: 15%; width: 30%;
  background-color: rgb(247, 239, 212,0.7); border-radius: 50%; z-index: 50;
}
#sparkingLeft1{ background-color:rgba(255, 0, 115, 0.45);  animation-name: sparkingRotateLeft1;  animation-duration: 3s;}
#sparkingLeft2{ background-color:rgba(132, 0, 255, 0.45);   animation-name: sparkingRotateLeft2;  animation-duration: 4s;}
#sparkingLeft3{ background-color:rgba(57, 57, 255, 0.45);    animation-name: sparkingRotateLeft3;  animation-duration: 5s;}
#sparkingLeft4{ background-color:rgba(255, 0, 115, 0.45);  animation-name: sparkingRotateLeft4;  animation-duration: 4s;}
#sparkingLeft5{ background-color:rgba(132, 0, 255, 0.45);   animation-name: sparkingRotateLeft5;  animation-duration: 4s;}
#sparkingLeft6{ background-color:rgba(57, 57, 255, 0.45);    animation-name: sparkingRotateLeft6;  animation-duration: 4s;}
#sparkingRight1{ background-color:rgba(255, 0, 115, 0.45); animation-name: sparkingRotateRight1; animation-duration: 5s;}
#sparkingRight2{ background-color:rgba(132, 0, 255, 0.45);  animation-name: sparkingRotateRight2; animation-duration: 4s;}
#sparkingRight3{ background-color:rgba(57, 57, 255, 0.45);   animation-name: sparkingRotateRight3; animation-duration: 3s;}
#sparkingRight4{ background-color:rgba(255, 0, 115, 0.45); animation-name: sparkingRotateRight4; animation-duration: 4s;}
#sparkingRight5{ background-color:rgba(132, 0, 255, 0.45);  animation-name: sparkingRotateRight5; animation-duration: 4s;}
#sparkingRight6{ background-color:rgba(57, 57, 255, 0.45);   animation-name: sparkingRotateRight6; animation-duration: 4s;}
@keyframes sparkingRotateLeft1{
  0%{transform: rotate(-100deg);}
  50%{transform: rotate(-115deg);}
  100%{transform: rotate(-100deg);}
}
@keyframes sparkingRotateLeft2{
  0%{transform: rotate(-105deg);}
  50%{transform: rotate(-120deg);}
  100%{transform: rotate(-105deg);}
}
@keyframes sparkingRotateLeft3{
  0%{transform: rotate(-110deg);}
  50%{transform: rotate(-125deg);}
  100%{transform: rotate(-110deg);}
}
@keyframes sparkingRotateLeft4{
  0%{transform: rotate(-140deg);}
  50%{transform: rotate(-150deg);}
  100%{transform: rotate(-140deg);}
}
@keyframes sparkingRotateLeft5{
  0%{transform: rotate(-145deg);}
  50%{transform: rotate(-160deg);}
  100%{transform: rotate(-145deg);}
}
@keyframes sparkingRotateLeft6{
  0%{transform: rotate(-150deg);}
  50%{transform: rotate(-170deg);}
  100%{transform: rotate(-150deg);}
}
@keyframes sparkingRotateRight1{
  0%{transform: rotate(100deg);}
  50%{transform: rotate(115deg);}
  100%{transform: rotate(100deg);}
}
@keyframes sparkingRotateRight2{
  0%{transform: rotate(105deg);}
  50%{transform: rotate(120deg);}
  100%{transform: rotate(105deg);}
}
@keyframes sparkingRotateRight3{
  0%{transform: rotate(110deg);}
  50%{transform: rotate(125deg);}
  100%{transform: rotate(110deg);}
}
@keyframes sparkingRotateRight4{
  0%{transform: rotate(140deg);}
  50%{transform: rotate(150deg);}
  100%{transform: rotate(140deg);}
}
@keyframes sparkingRotateRight5{
  0%{transform: rotate(145deg);}
  50%{transform: rotate(160deg);}
  100%{transform: rotate(145deg);}
}
@keyframes sparkingRotateRight6{
  0%{transform: rotate(150deg);}
  50%{transform: rotate(170deg);}
  100%{transform: rotate(150deg);}
}
.stageLight{
  height: 5%; width: 5%; border-radius: 50%;
}
.backLight{
 position: absolute; height: 5%; width: 3%; 
 background-color: rgb(249, 248, 234); border-radius: 20%;
}
#backLightLeft1{ top: 15%; left: 32%;}
#backLightLeft2{ top: 21%; left: 32%;}
#backLightLeft3{ top: 27%; left: 32%;}
#backLightLeft4{ top: 15%; left: 28.5%;}
#backLightLeft5{ top: 21%; left: 28.5%;}
#backLightLeft6{ top: 27%; left: 28.5%;}
#backLightRight1{ top: 15%; right: 32%;}
#backLightRight2{ top: 21%; right: 32%;}
#backLightRight3{ top: 27%; right: 32%;}
#backLightRight4{ top: 15%; right: 28.5%;}
#backLightRight5{ top: 21%; right: 28.5%;}
#backLightRight6{ top: 27%; right: 28.5%;}
.backLightStand{
  position: absolute; width: 1.05%; z-index: 2;
}
#backLightStandLeft1{
  top: 20%; left: 25%; height: 20%;
  background-color: rgb(49, 118, 255);
}
#backLightStandLeft2{
  top: 20%; left: 23%; height: 30%;
  background-color: hsl(310, 100%, 55%);
}
#backLightStandLeft3{
  top: 15%; left: 19%; height: 30%;
  background-color: rgb(49, 118, 255);
}
#backLightStandLeft4{
  top: 15%; left: 17%; height: 40%;
  background-color: hsl(310, 100%, 55%);
}
#backLightStandLeft5{
  top: 10%; left: 13%; height: 40%;
  background-color: rgb(49, 118, 255);
}
#backLightStandLeft6{
  top: 10%; left: 11%; height: 50%;
  background-color: hsl(310, 100%, 55%);
}
#backLightStandRight1{
  top: 20%; right: 25%; height: 20%;
  background-color: rgb(49, 118, 255);
}
#backLightStandRight2{
  top: 20%; right: 23%; height: 30%;
  background-color: hsl(310, 100%, 55%);
}
#backLightStandRight3{
  top: 15%; right: 20%; height: 30%;
  background-color: rgb(49, 118, 255);
}
#backLightStandRight4{
  top: 15%; right: 18%; height: 40%;
  background-color: hsl(310, 100%, 55%);
}
#backLightStandRight5{
  top: 10%; right: 13%; height: 40%;
  background-color: rgb(49, 118, 255);
}
#backLightStandRight6{
  top: 10%; right: 11%; height:50%;
  background-color: hsl(310, 100%, 55%);
}
.backLightStandWhite{
  position: absolute; height: 5%; width: 3%;
  background-color: rgb(249, 248, 234); border-radius: 50%;
}
#backLightStandWhiteLeft1{ top: 13%; left: 23%;}
#backLightStandWhiteLeft2{ top: 8%; left: 17%;}
#backLightStandWhiteLeft3{ top: 3%; left: 11%;}
#backLightStandWhiteRight1{ top: 13%; right: 23%;}
#backLightStandWhiteRight2{ top: 8%; right: 17%;}
#backLightStandWhiteRight3{ top: 3%; right: 11%;}
.backLightGreen{
  position: absolute; height: 3%; width: 1.5%;
  background-color: rgb(70, 253, 64);
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
}
#backLightGreenLeft1{ top: 7%; left: 46.5%;}
#backLightGreenLeft2{ top: 8%; left: 43.5%;}
#backLightGreenLeft3{ top: 9%; left: 40.5%;}
#backLightGreenLeft4{ top: 10%; left: 37.5%;}
#backLightGreenRight1{ top: 7%; right: 46.5%;}
#backLightGreenRight2{ top: 8%; right: 43.5%;}
#backLightGreenRight3{ top: 9%; right: 40.5%;}
#backLightGreenRight4{ top: 10%; right: 37.5%;}