#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0009;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
#overlay .play {
  padding: 7em;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container p {
  padding: 0 0.5em;
  font-weight: bold;
  text-align: center;
}
/*歌詞*/
#lyrics {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 3.2em;
  writing-mode: vertical-rl;
  animation: infinite;
  animation-name: sing;
  animation-duration: 7s;
}
  @keyframes sing{
    0%{
      transrateX: 0%;
      transrateY: 0%;
      scale: 100%;
    }
    100%{
      transrateX: -10px;
      transrateY: -5px;
      scale: 200%;
    }
  }
  #lyrics2{
    position: absolute;
    top: 15%;
    right: 50%;
    font-size: 3.2em;
    writing-mode: vertical-rl;
    animation: infinite;
    animation-name: sing2;
    animation-duration: 7s;
  }
  @keyframes sing2{
    0%{
      /*transrateX: 0%;
      transrateY: 0%;*/
      top: 20%;
      scale: 100%;
    }
    100%{
      top:5%;
      transrateY: -20%;
      scale: 200%;
    }
  }

#image{
  width: 30%;
  height: auto;
  right: 35%; 
  bottom: 20%; 
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: anim_s;
  animation-duration: 2s;
}
  @keyframes anim_s {
    0% {
      transform: translate(0px, 0);
    }
    100% {
      transform: translate(60px, 0);
    }
  }

#lyrics {
  font-size: 6em;
}

#media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 4px;
  background: rgba(0,0,0,0.2);
}

#header {
  position: absolute;
  left: 0;
  top: 0;
}

#meta {
  margin: 10px;
  padding: 5px;
  background: rgba(0,0,0,0.2);
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer > p {
  margin-left: 10px;
}

#control {
  margin: 10px;
  padding: 5px;
  background: rgba(0,0,0,0.2);
}

#control > button {
  margin-right: 5px;
}
#control > button:last-child {
  margin-right: 0;
}

  /* マウスストーカー用CSS*/
#stkr{
  /*animation:2s ease-in-out infinite rotation;*/
  position: fixed;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  transition: 0s;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 10;
  /*background-color: aqua;*/
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  25%{ transform:rotate(45deg); }
  50%{ transform:rotate(0); }
  75%{ transform:rotate(-45deg); }
  100%{ transform:rotate(0deg); }
}

#light{
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 5px;
  width: 30px;
  height: 150px;
  line-height: 100px;
  /*miku*/
  background-color: rgb(70, 255, 130);
  
  /*white*/
  /*background-color: rgb(240, 240, 255);*/
  border-radius: 10px;
}
#cross{
  z-index: 2;
  position: absolute;
  top:140px;
  left:1px;
  width: 38px;
  height: 25px;
  line-height: 100px;
  background-color: azure;
  border-radius: 10px;
}
#grip {
  z-index: 2;
  position: absolute;
  top: 155px;
  left: 6px;
  width: 28px;
  height: 60px;
  line-height: 100px;
  background-color: azure;
  border-radius: 10px;
}
/*design test*/
#black {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 40, 0.8);
}
